# Base de datos (Postgres para producción, SQLite para local)
DATABASE_URL="postgresql://USUARIO:PASSWORD@HOST/DATABASE"

# Secreto para JWT
JWT_SECRET=tu_secreta_aqui

# URL de la API del Frontend (para CORS)
CLIENT_URL=http://localhost:5173

# Puerto del Servidor
PORT=5001

# API URL para el Frontend (Vite)
VITE_API_URL=http://localhost:5001/api
